.items {
    background-color: palegoldenrod;
    border: dimgray 1px solid;
    padding: 10px;
    margin: 5px 10%;
    display: flex;
}

.header {
    color: orange;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.userListSection {
    height: 80vh;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.information {
    text-align: left;
    padding-left: 10px;
}
